<div class="container w-25 MT-5">
    <h2 class="Text-center pd-3" >login</h2>
      <form role="form" class="">
        
          <div class="form-group">
            <label class="sr-only" for="exampleInputEmail">Email adresse</label>
            <input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label class="sr-only" for="exampleInputPassword">password</label>
            <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">

          </div>
          <a routerLink="/register" >tu as oublie le mdp</a>
         <a RouterLink="/login"></a> <button type="submit" class="btn btn-block text-light mt-2 ">login in</button></a>
          </form>
      
  </div>
