<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/dose.jpg" class = "img-fluid img-responsive"alt="ph">
            <H4 class=my-2 >Briwate</H4>
            <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Asperiores maiores rem ipsum nemo totam eius accusantium atque
                

            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/dose.jpg" class = "img-fluid img-responsive"alt="ph">
            <h4 class=my-2> Briwate
            </h4>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Quos, eos eum id repudiandae perspiciatis 
                fugiat dolores dignissimos laudantium placeat illum harum amet
                corporis commodi quibusdam veniam? Minus pariatur quo voluptas?
                </p>
        </div>
        <div class="col-lg-4 col-md-4 col-xd-12">
            <img src="assets/img/AZERT.jpg" class = "img-fluid img-responsive"alt="ph">
            <h4>kika</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Ea, itaque illo sint quos temporibus quae qui modi explicabo
                molestiae, sunt neque expedita repudiandae libero nobis optio!
                Dolorem veniam voluptatum tempore?

            </p>
        </div>
    </div>
</div>
