<div class="container mt-1">
<a routerLink="/"><button type="button" class="btn ml-1">ShowAll</button></a>
<a routerLink="/patisserie"><button type="button" class="btn ml-1">patisserie</button></a>
<a routerLink="/cuisine"><button type="button" class="btn ml-1">Cuisine</button></a>
<a routerLink="/salade"><button type="button" class="btn ml-1 ">Salade</button></a>

<div class="btn-group" role="group" aria-label="button group with nested dropdwos">
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn ml-1 btn-secondary dropdows-toggle ">contact</button>
    </div>
    <div class="dropdows-menu"  aria-labelledby="btnGroupDrop1">
        <a class="dropdows-item" routerLink="/register">register</a>
        <a class="dropdows-item" routerLink="login">login</a>
    </div>


</div>


</div>
